@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --Red: hsl(14, 86%, 42%);
  --Green: hsl(159, 69%, 38%);
  --Rose-50: hsl(20, 50%, 98%);
  --Rose-100: hsl(13, 31%, 94%);
  --Rose-300: hsl(14, 25%, 72%);
  --Rose-400: hsl(7, 20%, 60%);
  --Rose-500: hsl(12, 20%, 44%);
  --Rose-900: hsl(14, 65%, 9%);
  --black: #222;
  --gray: #eaeaea;
  --ltgray: #f8f8f8;
  --spacing: 1rem;
}

/* .red-hat-text-<uniquifier> {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/*  Mobile: 375px
- Desktop: 1440px
 */

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  background-color: var(--Rose-50);
  color: var(--black);
  position: relative;
}
/* Order Confirm */
.window-order {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 60%);
  top: 0;
  left: 0;
  &.active {
    display: flex;
  }
}

.container-order h1 {
  margin: 15px 0 0 0;
}
.container-order p {
  margin: 8px 0 0 0;
  color: var(--Rose-400);
  font-weight: 500;
}
.container-order .ul-wrap {
  margin: 25px 0 0 0;
  background-color: var(--Rose-50);
  border-radius: 10px;
  padding: 10px;
}
.container-order ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 15px 0;
  border-bottom: 1px solid var(--gray);
  padding: 15px;
}

.content-order {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.container-order ul li .image {
  width: 40px;
  height: 40px;
}
.container-order ul li .image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.content-order .wrap-order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  white-space: nowrap;
}
.content-order .wrap-order div:last-of-type {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wrap-order .name-order {
  font-size: 14px;
  font-weight: bold;
}
.wrap-order div:last-of-type .quantity-item-order {
  color: var(--Red);
  font-weight: bold;
}
.wrap-order div:last-of-type span:nth-child(2) {
  color: grey;
  font-weight: 500;
  font-size: 14px;
}
.container-order .price-order {
  font-weight: 600;
}
.info-total-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.info-total-order .total-order {
  font-size: 14px;
  font-weight: 600;
}
.info-total-order .price-total-order {
  font-weight: bold;
  font-size: 1.3rem;
}
.container-order .start-order {
  background-color: var(--Red);
  width: 100%;
  padding: 10px 20px;
  margin: 15px 0;
  text-align: center;
  border-radius: 25px;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
  transition: background 0.5s ease;
}
.container-order .start-order:hover {
  background-color: var(--Rose-900);
}
/* // Order Confirm */

main {
  margin-top: 2.5rem;
}
.inner-wrap {
  max-width: 1440px;
  display: flex;
  flex-flow: wrap row;
  margin: 0 auto;
  padding: 1rem;
  justify-content: space-between;
}
.grid {
  width: 66%;
}
.primary-header {
  width: 100%;
  color: var(--black);
  margin: 0 0 0.5rem 0;
}
.grid-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
}
.grid-item {
  width: calc((100% - 2rem) / 3);
}

.button-container {
  position: relative;
  margin-bottom: 2rem;
}
.cart-button {
  position: absolute;
  width: 60%;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  padding: 8px 12px;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  border-radius: 50vh;
  border: 2px solid var(--Rose-900);
  color: var(--Rose-900);
  font-size: 14px;
  font-weight: bolder;
  z-index: 1;
}
.cart-plus-minus {
  appearance: none;
  position: absolute;
  width: 60%;
  height: 43px;
  z-index: 2;
  display: none;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  padding: 8px 12px;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  border-radius: 50vh;
  border: 1px solid transparent;
  color: var(--Rose-900);
  font-size: 14px;
  background-color: var(--Red);
  font-weight: bold;
  color: white;
}
.cart-plus-minus.active {
  display: flex;
}
.access-hidden {
  display: none;
}
.cart-plus-minus .more-less,
.cart-plus-minus .more-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: color 1s ease;
  background-color: var(--Red);
  transition:
    background 0.5s ease,
    border 0.5s ease;
}
.cart-plus-minus .more-less:hover,
.cart-plus-minus .more-plus:hover {
  background-color: white;
  border-color: var(--Red);
}
.cart-plus-minus .more-less:hover svg,
.cart-plus-minus .more-plus:hover svg {
  fill: var(--Red);
}
.cart-plus-minus svg {
  width: 10px;
  height: 10px;
  fill: white;
  transition: fill 0.5s ease;
}
figure img,
.cart-button {
  transition: border 1s ease;
}
figure {
  position: relative;
  width: 100%;
  height: 0;
  margin: 0;
  padding-bottom: 100%;
}
figure img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  border: 2px solid transparent;
}

.button-container:hover figure img,
.button-container:hover .cart-button {
  border: 2px solid var(--Red);
}

.grid-item .item-category {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--black);
}
.grid-item .tertiary-header {
  font-weight: bold;
  color: var(--black);
  margin-bottom: 0.5rem;
}
.grid-item .price {
  font-weight: 600;
  color: var(--Red);
}
/* sidebar starting is here */
.sidebar {
  width: 32.5%;
}
.sidebar-wrap {
  padding: 1rem;
  background-color: white;
  border-radius: 15px;
}
.sidebar-wrap img {
  margin: 0 auto;
  display: block;
}
.sidebar-wrap .secondary-header {
  color: var(--Red);
  margin: 0 0 2rem;
}
.sidebar ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar ul li h4 {
  font-weight: 600;
  font-size: 15px;
  margin: 1rem 0;
}
.sidebar ul li p {
  color: var(--Rose-500);
  font-weight: 600;
  margin: 0 0 1rem 0;
}
.sidebar ul li p .quantity-item {
  color: var(--Red);
  margin: 0 0.5rem 0 0;
}
.sidebar ul li p .price-item {
  margin: 0 0.5rem 0 0;
  font-weight: 500;
}
.sidebar ul li p .price-item .icon-item {
  margin: 0 0.2rem 0 0;
}
.sidebar ul li .remove-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid var(--Rose-500);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: color 1s ease;
}
.sidebar ul li .remove-icon svg {
  fill: var(--Rose-500);
}
.sidebar ul li {
  border-bottom: 1px solid var(--gray);
}
.sidebar ul li .remove-icon svg:hover,
.sidebar ul li .remove-icon:hover {
  fill: var(--black);
  border-color: var(--black);
}
.price-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}
.price-total p {
  font-weight: 500;
  color: var(--black);
}
.price-total .final-price {
  font-size: 1.4rem;
  font-weight: bold;
}
.carbon-neutral {
  margin: 0.5rem 0 1rem 0;
  text-align: center;
  background-color: var(--Rose-50);
  padding: 10px 15px;
  border-radius: 15px;
}
.carbon-neutral span {
  margin: 0 1rem 0 0;
}
.button-order {
  background-color: var(--Red);
  padding: 15px 20px;
  margin: 1.5rem 0;
  text-align: center;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.5s ease-in;
}
.button-order:hover {
  background-color: var(--Rose-900);
}
.sidebar-wrap .empty-cart.active p {
  text-align: center;
  color: var(--Rose-500);
}
.cart-items {
  display: none;
  &.active {
    display: block;
  }
}
.empty-cart {
  display: none;
  &.active {
    display: block;
  }
}
.copyright {
  text-align: center;
  font-weight: 600;
}
.copyright #date {
  font-weight: bold;
  margin: 0 0 0 0.5rem;
}
/* Media screen */
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
  .grid-item {
    width: 100%;
  }
  figure {
    padding-bottom: 66.666%;
  }
  .grid {
    width: 100%;
  }
  .sidebar {
    margin: 25px 0 0 0;
    width: 100%;
  }

  .container-order {
    position: fixed;
    z-index: 99999;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 100vw;
    padding: 20px;
    border-radius: 10px;
  }
}
@media only screen and (min-device-width: 641px) and (max-device-width: 1024px) {
  .grid-item {
    width: calc((100% - 2rem) / 2);
  }
  .grid {
    width: 66%;
  }
  .sidebar {
    width: 32.5%;
  }
  .container-order {
    position: fixed;
    z-index: 99999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 60vw;
    padding: 20px;
    border-radius: 10px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
  .grid-item {
    width: calc((100% - 2rem) / 3);
  }
  .grid {
    width: 66%;
  }
  .sidebar {
    width: 32.5%;
  }
  .container-order {
    position: fixed;
    z-index: 99999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 40vw;
    padding: 20px;
    border-radius: 10px;
  }
}
