/* General  */
:root {
  --Red: hsl(14, 86%, 42%);
  --Green: hsl(159, 69%, 38%);
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--rose-50);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Red Hat Text", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

/* .image {
  width: 300px;
  height: 300px;
}
img {
  height: 100%;
  width: 100%;
}
main {
  padding: 15px 30px;
  background-color: var(--rose-100);
  width: 100vw;
  height: 100vh;
}
.title {
  margin: 20px;
  font-size: 32px;
  font-weight: 800;
  color: var(--rose-900);
}
.container {
  margin: 10px 20px;
  width: 60%;
  height: 100vh;
} */

main {
  z-index: 3;
  width: 95%;
  height: 95%;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--rose-900);
  margin-bottom: 1.4rem;
}

.boxs {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: calc(80% / 3);
}
.box .image {
  border: 3px solid transparent;
  border-radius: 20px;
  transition: border 0.5s ease;
  cursor: pointer;
}
.image {
  width: 200px;
  height: 200px;
  margin-bottom: 1.5rem;
}
.box .image:hover,
.active .image {
  border: 3px solid var(--Red);
}
.box .image {
  position: relative;
}
img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.box .image .add {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: white;
  border: solid 1px var(--rose-500);
  padding: 10px 20px;
  position: absolute;
  bottom: 10px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  border-radius: 25px;
  font-size: 12px;
  font-weight: bold;
}
.box .image .add span {
  margin-right: 10px;
}
.box .name {
  color: var(--rose-400);
  font-size: 12px;
  font-weight: bold;
}
.box .dis {
  font-weight: 700;
}
.box .price {
  margin-top: 5px;
  color: var(--rose-500);
  font-weight: bold;
}
